mixin blog-article()
	-
		const data = {
			title: "Блог",
			subtitle: "Вторичный щебень",
			author: "Автор: ",
			authorName: "Марина Порошина",
			date: "21 Сентября 2022",
			articleTitle: "Источники получения",
			text1: "Для многих строителей стало естественным использовать в работе вторичный материал. Наиболее показательным примером есть вторичный щебень. Его получают в результате переработки строительных отходов от сносимых зданий или сооружений. В щебень из бетона перерабатывают не только отходы строительства, но и брак заводов ЖБИ, бетонные объекты ликвидируемых организаций и пр. В числе источников сырья для вторичного щебня используют и бетон с демонтируемых автомобильных дорог, сносимых мостов, с разбираемых аэродромов — плиты со взлетных и рулежных полос, блоки и плиты с бетонных ангаров, стояночных площадок и многое другое.",
			articleSubtitle1: "Исторические примеры использования строительного лома",
			text2: "В течение всей истории человеческой цивилизации обломки зданий, разрушенных в ходе военных действий, землетрясений или по другим причинам, почти всегда использовались в строительстве новых сооружений. Многие объекты пострадавших городов восстанавливались из камней и/или кирпичей, выбранных из развалин. Так, например, возрождались древний Карфаген и послевоенные Берлин, Киев, Сталинград, Минск, Кенигсберг (Калининград) и многие другие населенные пункты. Готовый камень или кирпич проще и дешевле извлечь из строительного мусора, чем произвести новый. Особенно после разрушительных войн и природных катастроф.",
			photoAuthor: "Фото Noah Buscher на Unsplash",
			articleSubtitle2: "Свойства и характеристики вторичного щебня",
			text3: "Свойства вторичного щебня определяются в основном свойствами того материала, из которого его получают. Производство ведется в соответствии с рекомендациями и требованиями, изложенными в действующем на территории России нормативном документе — ГОСТ 25 137-82.",
			text4: "Для выпуска этого полноценного строительного материала используются те же технологические приемы и то же дробильное оборудование, что и для щебня, добываемого в карьерах:",
			list1: [
				"щековые дробилки — раздавливают материал между прочными вертикальными пластинами, одна или обе из них подвижны, куски просыпаются вниз на грохоты или сита, служащие для разделения на фракции обломков дробления;",
			],
			list2: [
				"конусные – в вертикальном прочном конусе по его внутренней поверхности прокатывается массивный конус меньшего размера. Дробимый материал загружается сверху в зазор между подвижным и неподвижным конусами, раздробленный ссыпается вниз конуса и высыпается через отверстие."
			],
			text5: "Есть еще дробилки роторные, молотковые, центробежные, валковые и другое.",
			text6: "После дробления смесь частиц разной величины поступает на классификацию или разделение по фракциям. Фракции нумеруются по максимальному размеру частицы.",
			list3: {
				title: "К основным характеристикам щебня относятся:",
				items: [
					"прочность на сжатие и дробимость — величина силы, разрушающей частицу щебня при сжатии, маркируется буквой М;",
					"средняя плотность — масса материала, заполнившего единицу объема;",
					"лещадность — степень плоскостности частицы;",
					"морозостойкость — количество циклов замерзания и оттаивания образца до начала разрушения, маркируется буквой F;",
					"радиоактивность — величина естественного излучения материала щебня.",
					"Разновидности этого вторичного сырья",
				],
			},
			articleSubtitle3: "Разновидности этого вторичного сырья",
			list4: {
				title: "Вторичный щебень имеет несколько разновидностей. Они зависят от вида исходного строительного лома:",
				items: [
					"бетонный щебень — продукт дробления бетона определенной марки по прочности и степени износа компонентов — цемента, щебня, песка, бывает щебень плотного и пористого бетона;",
					"кирпичный щебень разных видов — керамический, силикатный, огнеупорный и пр.;",
					"бутовый — гранитный, известняковый, базальтовый, песчаниковый и другое.",
				],
			},
			articleSubtitle4: "Применение вторичного щебня",
			text7: "Сфера применения вторичного щебня неразрывно связана с видом его первичного материала. Он может применяться при изготовлении новых полноценных ЖБИ в соответствии с его маркой по прочности. Возвращение строительного лома в круговорот строительных материалов называется рециклингом. Качество вторичного бетонного щебня должно подтверждаться сертификационными испытаниями.",
			list5: {
				title: "Не «марочный» бетонный щебень, «загрязненный», т. е. смешанный с кирпичной или асфальтовой крошкой, используют для:",
				items: [
					"строительства ленточных фундаментов с небольшой нагрузкой;",
					"отсыпки нижних слоев плитных монолитных оснований зданий;",
					"нижних слоев проселочных дорог;",
					"временных дорог на строительных площадках;",
					"подсыпки при строительстве тротуаров, автомобильных площадок, стоянок возле жилых комплексов, спортивных площадок, на стадионах, пешеходных и велосипедных дорожках и мн. др."
				],
			},
			text8: "Не марочные смеси также используются для укрепления грунтов, откосов автодорожных и даже железнодорожных мостов, для пешеходных и велосипедных мостиков и пр. Они могут использоваться и для декоративного украшения элементов ландшафта. Ими декорируют дорожки в скверах и парках, отсыпают «сухие ручьи» и «альпийские горки» с декоративными или лекарственными растениями, формируют берега прудов, озер и др. водоемов.",
			text9: "Отсев любого материала — это самая мелкая фракция, получаемая при дроблении. Он используется как эффективная и экологически чистая основа для противогололедной посыпки полотна дорог зимой. Также может быть использован как песок крупных фракций в строительных конструкциях и во многих других случаях.",
			similar: {
				title: "Похожие статьи",
				items: [
					{
						href: "#",
						img: "similar-articles-img-1",
						alt: "similar-articles-img-1",
						title: "Экскаватор-разрушитель",
						text: "Сложный процесс по сносу здания невозможен без применения переполнение",
						date: "11 Сентября 2022",
					},
					{
						href: "#",
						img: "similar-articles-img-2",
						alt: "similar-articles-img-2",
						title: "Переработка строительных отходов",
						text: "Природные ресурсы Земли далеко не безграничны. Общество к это переполнение",
						date: "11 Сентября 2022",
					},
				],
				btn: {
					href: "blog.html",
					text: "Все статьи",
				},
			},
		}
	section.section.blog-article
		.container.blog-article__container
			.blog-article__cols
				.blog-article__col.blog-article__col--01
					.blog-article__heading 
						h1.title.title--h2.blog-article__title=data.title
						h2.title.title--h3.blog-article__subtitle=data.subtitle
					.blog-article__info 
						.blog-article__info-row
							span.blog-article__info-author=data.author
							span.blog-article__info-author-name=data.authorName
						.blog-article__info-date=data.date
					article.blog-article__article
						h2.title.title--h4.blog-article__article-title=data.articleTitle
						p.text.text--md.blog-article__article-text=data.text1
						h2.title.title--h5.blog-article__article-subtitle=data.articleSubtitle1
						p.text.text--md.blog-article__article-text=data.text2
						.blog-article__article-pic.blog-article__article-pic--01
							+img("content", "blog-article-img-1", "jpg", "Чёрно-белое фото людей, работающих со щебнем")
						span.blog-article__article-pic-author=data.photoAuthor 
						h2.title.title--h5.blog-article__article-subtitle=data.articleSubtitle2
						p.text.text--md.blog-article__article-text=data.text3		
						p.text.text--md.blog-article__article-text=data.text4
						.blog-article__article-pic
							+img("content", "blog-article-img-2", "jpg", "Фото работающей дробилки")
						ul.blog-article__article-list.blog-article__article-list--01
							each item in data.list1 
								li.blog-article__article-list-item=item
						.blog-article__article-pic
							+img("content", "blog-article-img-3", "jpg", "Фото работающей дробилки")
						ul.blog-article__article-list.blog-article__article-list--02
							each item in data.list2 
								li.blog-article__article-list-item=item
						p.text.text--md.blog-article__article-text=data.text5
						p.text.text--md.blog-article__article-text=data.text6
						h2.blog-article__article-list-title=data.list3.title
						ul.blog-article__article-list.blog-article__article-list--03
							each item in data.list3.items
								li.blog-article__article-list-item=item
						h2.title.title--h5.blog-article__article-subtitle=data.articleSubtitle3
						p.text.text--md.blog-article__article-text=data.list4.title
						ul.blog-article__article-list.blog-article__article-list--04
							each item in data.list4.items
								li.blog-article__article-list-item=item
						h2.title.title--h5.blog-article__article-subtitle=data.articleSubtitle4
						p.text.text--md.blog-article__article-text=data.text7
						p.text.text--md.blog-article__article-text=data.list5.title
						ul.blog-article__article-list.blog-article__article-list--05
							each item in data.list5.items
								li.blog-article__article-list-item=item
						p.text.text--md.blog-article__article-text=data.text8
						p.text.text--md.blog-article__article-text=data.text9
				.blog-article__col.blog-article__col--02
					.similar-articles
						h2.title.title--h5.similar-articles__title=data.similar.title
						each item in data.similar.items 
							a.similar-articles__item(href=item.href)
								+img("content", item.img, "jpg", item.alt)
								h3.title.title--h5.similar-articles__item-title=item.title
								p.text.text--sm.similar-articles__item-text=item.text 
								span.similar-articles__item-date=item.date
						+btn(data.similar.btn).btn--drk-orange.similar-articles__btn



