mixin directions(mods)
	-
		const data = {
			main: {
				title: "Направления",
				subtitle: "100% безотходное производство",
				textItems: [
					{
						title: "Демонтаж зданий и сооружений",
						text: "Полный комплекс услуг по демонтажу зданий и сооружений: от разработки исходно-разрешительной документации до вывоза строительных отходов.",
					},
					{
						title: "Демонтаж зданий и сооружений 2",
						text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eos non, voluptates provident fugiat enim illum repellendus quidem vel soluta in accusantium vero sequi quaerat sed officia, voluptate fugit voluptatum quae, excepturi necessitatibus facilis doloribus expedita labore. Recusandae iure voluptatem perferendis inventore, eos consectetur, quos quo doloribus nisi deleniti laborum.",
					},
					{
						title: "Демонтаж зданий и сооружений 3",
						text: "Полный комплекс услуг по демонтажу зданий и сооружений: от разработки исходно-разрешительной документации до вывоза строительных отходов.",
					},
					{
						title: "Демонтаж зданий и сооружений 4",
						text: "Полный комплекс услуг по демонтажу зданий и сооружений: от разработки исходно-разрешительной документации до вывоза строительных отходов.",
					},
					{
						title: "Демонтаж зданий и сооружений 5",
						text: "Полный комплекс услуг по демонтажу зданий и сооружений: от разработки исходно-разрешительной документации до вывоза строительных отходов.",
					},
				],
				items: [
					{					
					src: "slides",
					img: "directions-img-1",
					alt: "экскаватор-разрушитель",
					},
					{					
					src: "slides",
					img: "directions-img-1",
					alt: "экскаватор-разрушитель",
					},
					{					
					src: "slides",
					img: "directions-img-1",
					alt: "экскаватор-разрушитель",
					},
					{					
					src: "slides",
					img: "directions-img-1",
					alt: "экскаватор-разрушитель",
					},
					{					
					src: "slides",
					img: "directions-img-1",
					alt: "экскаватор-разрушитель",
					},
				],
			},
			recycling: {
				title: "Технопарк",
				subtitle: "Высокотехнологичная площадка по переработке строительных отходов",
				contentTitle: "",
				textItems: [
					{
						title: "Переработка строительных отходов",
						text: "В 2022 году в Московской области открыт завод по переработке строительных отходов.",
						text1: "Собственный комплекс по производству материалов из вторсырья дает возможность работать с объемом свыше 5 тыс. тонн строительных отходов ежедневно.",
					},
					{
						title: "Переработка строительных отходов 2",
						text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam pariatur rerum tenetur harum sapiente porro autem perspiciatis impedit quo. Maxime?",
						text1: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam pariatur rerum tenetur harum sapiente porro autem perspiciatis impedit quo. Maxime?",
					},
					{
						title: "Переработка строительных отходов 3",
						text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam pariatur rerum tenetur harum sapiente porro autem perspiciatis impedit quo. Maxime?",
						text1: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis eum maxime rem explicabo ad a repellat necessitatibus, consequatur eveniet deserunt quo tenetur, accusamus porro quis iusto nostrum, ipsum eius similique!",
					},
					{
						title: "Переработка строительных отходов 4",
						text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores alias iste delectus itaque possimus maxime pariatur recusandae, velit est ex cumque maiores. Illo optio ipsam eos consequatur ab molestias officiis repellendus, temporibus, velit magni, omnis aperiam esse nulla dolore ex!",
						text1: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores alias iste delectus itaque possimus maxime pariatur recusandae, velit est ex cumque maiores. Illo optio ipsam eos consequatur ab molestias officiis repellendus, temporibus, velit magni, omnis aperiam esse nulla dolore ex!",
					},
					{
						title: "Переработка строительных отходов 5",
						text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores alias iste delectus itaque possimus maxime pariatur recusandae, velit est ex cumque maiores. Illo optio ipsam eos consequatur ab molestias officiis repellendus, temporibus, velit magni, omnis aperiam esse nulla dolore ex!",
						text1: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur numquam tenetur unde doloremque? Quisquam ducimus vitae totam. Optio repudiandae eaque fuga unde illo neque suscipit minus reiciendis quisquam? Rem accusamus doloribus nemo sed dignissimos veniam eum, magni aperiam obcaecati nam, minima dolorem quibusdam sapiente quis explicabo qui voluptatibus. Doloremque, fugiat.",
					},
				],
				items: [
					{				

						src: "slides",
						img: "directions-img-1",
						alt: "экскаватор-разрушитель",
					},
					{		

						src: "slides",
						img: "directions-img-1",
						alt: "экскаватор-разрушитель",
					},
					{	

						src: "slides",
						img: "directions-img-1",
						alt: "экскаватор-разрушитель",
					},
					{

						src: "slides",
						img: "directions-img-1",
						alt: "экскаватор-разрушитель",
					},
					{	

						src: "slides",
						img: "directions-img-1",
						alt: "экскаватор-разрушитель",
					},
				],
				btn: {
						text: "Получить КП",
				},
			},
		}

	section.section.directions(class="directions--" + mods)
		.container.directions__container 
			.directions__heading
				if mods === "main"
					h2.title.title--h2.directions__title=data.main.title
					h3.title.title--h3.directions__subtitle=data.main.subtitle
				if mods === "recycling"
					h2.title.title--h2.directions__title=data.recycling.title
					h3.title.title--h3.directions__subtitle=data.recycling.subtitle
			.directions__cols
				.directions__col.directions__col--01
					.swiper.directions__text-slider 
						.swiper-wrapper 
							if mods === "main"
								each item in data.main.textItems
									.swiper-slide
										.directions__text-slider-item
											h4.title.title--h4.directions__content-title=item.title
											p.text.text--lg.directions__text=item.text
							if mods === "recycling"
								each item in data.recycling.textItems
									.swiper-slide
										.directions__text-slider-item
											h4.title.title--h4.directions__content-title=item.title
											p.text.text--lg.directions__text=item.text
											p.text.text--lg.directions__text=item.text1
					.directions__slider-nav
						.directions__slider-pag
						.directions__slider-btns
							.swiper-button-next.directions__slider-btn.directions__slider-btn--next
								+icon("icon-chevron-right-black", 30, 30)
							.swiper-button-prev.directions__slider-btn.directions__slider-btn--prev
								+icon("icon-chevron-left-black", 30, 30)
				.directions__col.directions__col--02
					.swiper.directions__slider
						.swiper-wrapper
							if mods === "main"
								each item in data.main.items
									.swiper-slide
										.directions__slider-item
											+img(item.src, item.img, "jpg", item.alt)
							if mods === "recycling"
								each item in data.recycling.items
									.swiper-slide
										.directions__slider-item
											+img(item.src, item.img, "jpg", item.alt)
			if mods === "recycling"
				+btn(data.recycling.btn).btn--apple.tech__btn(data-open-modal="offer")