mixin hero-section(mods)
	-
		const data = {
			demolition: {
				title: "Демонтаж зданий и сооружений",
				subtitle: "Mauris egestas pellentesque nulla at massa. Laoreet et pretium arcu orci. Lectus justo ullamcorper et.",
				items: [
					{
						src: "slides",
						img: "hero-bg-img-1",
						alt: "slide-img-1",
					},
					{
						src: "slides",
						img: "hero-bg-img-2",
						alt: "slide-img-2",
					},
					{
						src: "slides",
						img: "hero-bg-img-3",
						alt: "slide-img-3",
					},
					{
						src: "slides",
						img: "hero-bg-img-4",
						alt: "slide-img-4",
					},
				],
				numbers: [
					{
						num: "6",
						text: "Лет опыта",
					},
					{
						num: "150",
						text: "Единиц техники",
					},
					{
						num: "120",
						text: "Сотрудников",
					},
				],
			},
			road: {
				title: "Строительство дорог из вторичных материалов",
				subtitle: "Consectetur nec tristique massa est nibh magna ac duis justo. Fermentum amet amet vitae sagittis congue nisi erat lectus.",
				pic: {
					src: "slides",
					img: "hero-bg-img-1",
					alt: "slide-img-1",
				},

				numbers: [
					{
						num: "5000 км",
						text: "Дорог обновлено",
					},
					{
						num: "80 000",
						text: "Кг. пластика использовано",
					},
				],
			},
			recycling: {
				title: "Вывоз и утилизация строительных отходов",
				subtitle: "Транспортировка, сбор, размещение и утилизация отходов строительства и сноса",
				items: [
					{
						src: "slides",
						img: "recycling-hero-img-1",
						alt: "slide-img-1",
					},
					{
						src: "slides",
						img: "hero-bg-img-2",
						alt: "slide-img-2",
					},
					{
						src: "slides",
						img: "hero-bg-img-3",
						alt: "slide-img-3",
					},
					{
						src: "slides",
						img: "hero-bg-img-4",
						alt: "slide-img-4",
					},
				],
				numbers: [
					{
						num: "1",
						text: "Завод по сортировке ",
					},
					{
						num: "!",
						text: "АИС ОССиГ",
					},
					{
						num: "34",
						text: "Самосвала",
					},
				],
			},
			improvement: {
				title: "Благоустройство территорий",
				subtitle: "Комплексные работы по облагораживанию территорий",
				items: [
					{
						src: "slides",
						img: "improvement-bg-1",
						alt: "slide-img-1",
					},
					{
						src: "slides",
						img: "hero-bg-img-2",
						alt: "slide-img-2",
					},
					{
						src: "slides",
						img: "hero-bg-img-3",
						alt: "slide-img-3",
					},
					{
						src: "slides",
						img: "hero-bg-img-4",
						alt: "slide-img-4",
					},
				],
				numbers: [
					{
						num: "8",
						text: "Лет опыта",
					},
					{
						num: "50",
						text: "Га благоустроенных территорий",
					},
					{
						num: "10+",
						text: "Выполненных проектов",
					},
				],
			},
			pits: {
				title: "Разработка котлованов",
				subtitle: "с вывозом и утилизацией грунта",
				items: [
					{
						src: "slides",
						img: "hero-pits-img-1",
						alt: "slide-img-1",
					},
					{
						src: "slides",
						img: "hero-bg-img-2",
						alt: "slide-img-2",
					},
					{
						src: "slides",
						img: "hero-bg-img-3",
						alt: "slide-img-3",
					},
					{
						src: "slides",
						img: "hero-bg-img-4",
						alt: "slide-img-4",
					},
				],
				numbers: [
					{
						num: "8",
						text: "Лет опыта",
					},
					{
						num: "1+",
						text: "Млн. м<sup>3</sup> земляных работ",
					},
					{
						num: "30+",
						text: "Выполненных проектов",
					},
				],
			},
		}
	section.hero-section(class="hero-section--" + mods)
		.container.hero-section__container
			.hero-section__col.hero-section__col--01
				.hero-section__heading 
					if mods === "demolition"
						h1.title.title--h1.hero-section__title=data.demolition.title
							span.hero-section__subtitle=data.demolition.subtitle
					if mods === "road"
						h1.title.title--h1.hero-section__title=data.road.title
							span.hero-section__subtitle=data.road.subtitle
					if mods === "recycling"
						h1.title.title--h1.hero-section__title=data.recycling.title
							span.hero-section__subtitle=data.recycling.subtitle
					if mods === "improvement"
						h1.title.title--h1.hero-section__title=data.improvement.title
							span.hero-section__subtitle=data.improvement.subtitle
					if mods === "pits"
						h1.title.title--h1.hero-section__title=data.pits.title
							span.hero-section__subtitle=data.pits.subtitle
				.hero-section__numbers
					if mods === "demolition"
						each item in data.demolition.numbers
							.hero-section__numbers-item
								strong.hero-section__numbers-num=item.num 
								p.text.hero-section__numbers-text=item.text
					if mods === "road"
						each item in data.road.numbers
							.hero-section__numbers-item
								strong.hero-section__numbers-num=item.num 
								p.text.hero-section__numbers-text=item.text
					if mods === "recycling"
						each item in data.recycling.numbers
							.hero-section__numbers-item
								strong.hero-section__numbers-num=item.num 
								p.text.hero-section__numbers-text=item.text
					if mods === "improvement"
						each item in data.improvement.numbers
							.hero-section__numbers-item
								strong.hero-section__numbers-num=item.num 
								p.text.hero-section__numbers-text=item.text
					if mods === "pits"
						each item in data.pits.numbers
							.hero-section__numbers-item
								strong.hero-section__numbers-num=item.num 
								p.text.hero-section__numbers-text!=item.text
		.hero-section__col.hero-section__col--02
			if mods === "demolition"
				.swiper.hero-section__slider
					.swiper-wrapper 
						each item in data.demolition.items
							.swiper-slide 
								.hero-section__slider-item 
									+img(item.src, item.img, "jpg", item.alt)
				.swiper-pagination.hero-section__slider-pag
			if mods === "road"
				.hero-section__pic 
					+img(data.road.pic.src, data.road.pic.img, "jpg", data.road.pic.alt)
			if mods === "recycling"
				.swiper.hero-section__slider(class="hero-section__slider--" + mods)
					.swiper-wrapper 
						each item in data.recycling.items
							.swiper-slide 
								.hero-section__slider-item 
									+img(item.src, item.img, "jpg", item.alt)
				.swiper-pagination.hero-section__slider-pag
			if mods === "improvement"
				.swiper.hero-section__slider(class="hero-section__slider--" + mods)
					.swiper-wrapper 
						each item in data.improvement.items
							.swiper-slide 
								.hero-section__slider-item 
									+img(item.src, item.img, "jpg", item.alt)
				.swiper-pagination.hero-section__slider-pag
			if mods === "pits"
				.swiper.hero-section__slider(class="hero-section__slider--" + mods)
					.swiper-wrapper 
						each item in data.pits.items
							.swiper-slide 
								.hero-section__slider-item 
									+img(item.src, item.img, "jpg", item.alt)
				.swiper-pagination.hero-section__slider-pag