mixin rent-card()
	-
		const data = {
			slider: {
				items: [
					{
						img: "https://picsum.photos/seed/picsum/370",
						alt: "rent-card-img-1",
						//- img: "rent-card-img-1",
						//- alt: "rent-card-img-1",
					},
					{
						img: "https://picsum.photos/370",
						alt: "rent-card-img-2",
						//- img: "rent-card-img-2",
						//- alt: "rent-card-img-2",
					},
					{
						img: "https://picsum.photos/370",
						alt: "rent-card-img-3",
						//- img: "rent-card-img-3",
						//- alt: "rent-card-img-3",
					},
				],
			},
			title: "Экскаватор-погрузчик Volvo BL71B",
			subtitle: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut obcaecati pariatur a id dolor ratione porro, tempora nam accusantium deserunt.",
			equip: {
				title: "Навесное оборудование:",
				toggle1: {
					inputLabel: "Гидравлические ножницы",
					inputType: "radio",
					inputId: "gidravlicheskie-nozhnizy",
					inputName: "equipment",
					inputChecked: false,
					inputValue: "gidravlicheskie-nozhnizy"
				},
				toggle2: {
					inputLabel: "Гидравлический молот",
					inputType: "radio",
					inputId: "gidravlicheskiy-molot",
					inputName: "equipment",
					inputChecked: true,
					inputValue: "gidravlicheskiy-molot"
				},
			}, 
			charact: {
				title: "Характеристики:",
				link: {
					href: "#characteristics",
					text: "Посмотреть все",
				},
				items: [
					{
						name: "Грузоподъемность: ",
						value: "25 тонн",
					},
					{
						name: "Грузоподъемность: ",
						value: "25 тонн",
					},
					{
						name: "Объем кузова: ",
						value: "20 кубов",
					},
					{
						name: "Объем кузова: ",
						value: "20 кубов",
					},
					{
						name: "Колесная формула: ",
						value: "6x4",
					},
					{
						name: "Колесная формула: ",
						value: "6x4",
					},
				],
			},
			price: {
				num: "35 000",
				currency: " ₽ ",
				time: "/ смена",
			},
		}
	section.section.rent-card 
		.container.rent-card__container
			.rent-card__wrapper
				.rent-card__wrapper-col.rent-card__wrapper-col--01
					.swiper.swiper--14.rent-card__slider
						.swiper-wrapper 
							-for (let i = 0; i < 3; i++)
								each item in data.slider.items 
									.swiper-slide 
										.rent-card__slider-item
											img(src=item.img, alt=item.alt)
											//- +picture("slides", item.img, "png", item.alt)
					.swiper.swiper--15.rent-card__slider.rent-card__slider--thumb
						.swiper-wrapper
							-for (let i = 0; i < 3; i++)
								each item in data.slider.items 
									.swiper-slide 
										.rent-card__slider-item
											img(src=item.img, alt=item.alt)
											//- +picture("slides", item.img, "png", item.alt)
				.rent-card__wrapper-col.rent-card__wrapper-col--02
					h1.title
						span.rent-card__title=data.title
						span.rent-card__subtitle=data.subtitle
					.rent-card__equip
						h2.title.title--h6.rent-card__equip-title=data.equip.title
						.rent-card__equip-toggles
							.rent-card__equip-toggles-item
								+picture("content", "card-toggle-img-2", "png", "Гидравлические ножницы")
								+custom-toggle(data.equip.toggle1).custom-toggle--radio.rent-card__equip-toggle
							.rent-card__equip-toggles-item
								+picture("content", "card-toggle-img-2", "png", "Гидравлический молот")
								+custom-toggle(data.equip.toggle2).custom-toggle--radio.rent-card__equip-toggle
					.rent-card__charact
						.rent-card__charact-head
							h2.title.title--h6.rent-card__charact-title=data.charact.title
							a.link.rent-card__charact-link(href=data.charact.link.href data-target)=data.charact.link.text
						ul.rent-card__charact-items
							each item in data.charact.items 
								li.rent-card__charact-items-item 
									span.rent-card__charact-items-name=item.name
									span.rent-card__charact-items-border
									span.rent-card__charact-items-value=item.value
					.rent-card__price 
						span.rent-card__price-num=data.price.num
						span.rent-card__price-currency=data.price.currency
						span.rent-card__price-time=data.price.time