mixin rent-filter()
	-
		const data = {
			items: [
				{
					title: "Техника",
					//- classMod: "is-active",
					list: [
						{
							inputLabel: "Экскаваторы",
							inputId: "ekskavatory",
							inputName: "ekskavatory",
						},
						{
							inputLabel: "Бульдозеры",
							inputId: "buldozery",
							inputName: "buldozery",
							inputChecked: true,
						},
						{
							inputLabel: "Погрузчики",
							inputId: "pogruzchiki",
							inputName: "pogruzchiki",
						},
						{
							inputLabel: "Самосвалы",
							inputId: "samosvaly",
							inputName: "samosvaly",
						},
						{
							inputLabel: "Дробилки",
							inputId: "drobilki",
							inputName: "drobilki",
						},
						{
							inputLabel: "Грохоты",
							inputId: "grohoty",
							inputName: "grohoty",
						},
						{
							inputLabel: "Катки",
							inputId: "katki",
							inputName: "katki",
						},
					],
					href: "#",
					text: "Показать еще",	
				},
				{
					title: "Спецоборудование",

					list: [
						{
							inputLabel: "Шредер",
							inputId: "shreder",
							inputName: "shreder",
						},
						{
							inputLabel: "Ножницы",
							inputId: "nozhnizy",
							inputName: "nozhnizy",
						},
						{
							inputLabel: "Гидромолот",
							inputId: "gidromolot",
							inputName: "gidromolot",
							inputChecked: true,
						},
						{
							inputLabel: "Грейферы",
							inputId: "greifery",
							inputName: "greifery",
						},
						{
							inputLabel: "Крашеры",
							inputId: "krashery",
							inputName: "krashery",
						},
						{
							inputLabel: "Измельчители",
							inputId: "izmelchiteli",
							inputName: "izmelchiteli",
						},
						{
							inputLabel: "Ковши",
							inputId: "kovchy",
							inputName: "kovchy",
						},
					],
				},
				{
					title: "Бренды",
					list: [
						{
							inputLabel: "CASE",
							inputId: "CASE",
							inputName: "CASE",
						},
						{
							inputLabel: "MAN",
							inputId: "MAN",
							inputName: "MAN",
						},
						{
							inputLabel: "CATERPILLAR",
							inputId: "CATERPILLAR",
							inputName: "CATERPILLAR",
						},
						{
							inputLabel: "Hamm",
							inputId: "MCCLOSKEY",
							inputName: "MCCLOSKEY",
							inputChecked: true,
						},
						{
							inputLabel: "Hamm",
							inputId: "Hamm",
							inputName: "Hamm",
						},
						{
							inputLabel: "EARTHFORCE",
							inputId: "EARTHFORCE",
							inputName: "EARTHFORCE",
						},
						{
							inputLabel: "Shantui",
							inputId: "Shantui",
							inputName: "Shantui",
						},
						{
							inputLabel: "HITACHI",
							inputId: "HITACHI",
							inputName: "HITACHI",
						},
						{
							inputLabel: "HYUNDAI",
							inputId: "HYUNDAI",
							inputName: "HYUNDAI",
						},
						{
							inputLabel: "JCB",
							inputId: "JCB",
							inputName: "JCB",
						},
					],
				},
				{
					title: "Благоустройство",
					list: [
						{
							inputLabel: "Демонтаж",
							inputId: "demontazh",
							inputName: "demontazh",
						},
						{
							inputLabel: "Перевозка материалов",
							inputId: "perevozka-materialov",
							inputName: "perevozka-materialov",
						},
						{
							inputLabel: "Облагораживание территорий",
							inputId: "oblagorazhivanie-territorii",
							inputName: "oblagorazhivanie-territorii",
						},
						{
							inputLabel: "Строительство дорог",
							inputId: "stroitelstvo-dorog",
							inputName: "stroitelstvo-dorog",
							inputChecked: true,
						},
						{
							inputLabel: "Земляные работы",
							inputId: "zemlyanye-raboty",
							inputName: "zemlyanye-raboty",
						},
						{
							inputLabel: "Переработка отходов",
							inputId: "pererabotka-othodov",
							inputName: "pererabotka-othodov",
						},
					],
				},
			],
			price: {
				title: "Цена",
				from: "от",
				to: "до"
			},
		}

	.accordion.rent-filter__ac(data-accordion="parent")
		each item in data.items
			.accordion.rent-filter__ac-el.is-active(data-accordion="element" class!=item.classMod)
				.rent-filter__ac-btn(data-accordion="button")
					span.rent-filter__ac-btn-text=item.title
					span.rent-filter__ac-btn-icon 
						+icon("icon-chevron-down", 13, 8)
				.rent-filter__ac-content(data-accordion="content")
					ul.rent-filter__list
						each listItem in item.list
							li.rent-filter__list-item
								+custom-toggle(listItem)
					if item.href && item.text
						a.link.rent-filter__list-more(href!=item.href)!=item.text 
	.accordion.rent-filter__ac.accordion.rent-filter__ac--price(data-accordion="parent")
		.accordion.rent-filter__ac-el.is-active(data-accordion="element")
			.rent-filter__ac-btn(data-accordion="button")
				span.rent-filter__ac-btn-text=data.price.title
				span.rent-filter__ac-btn-icon 
					+icon("icon-chevron-down", 14, 14)
			.rent-filter__ac-content(data-accordion="content")
				.rent-filter__inputs 
					input.rent-filter__input.rent-filter__input--from#price-from(type="number", name="price-from" placeholder=data.price.from)
					span -
					input.rent-filter__input.rent-filter__input--to#price-to(type="number", name="price-to" placeholder=data.price.to)
				.rent-filter__price
					.rent-filter__price-range#noui-1