mixin rent-card-similar()
	-
		const data = {
			title: "Похожая техника",
			link: {
				href: "arenda-katalog.html",
				text: "Посмотреть все",
			},
			items: [
				{
					title: "Техника",
					img: "rent-technic-img-1",
					alt: "rent-technic-img-1",
					name: "Экскаватор-погрузчик Volvo BL71B",
					price: {
						num: "35 000",
						currency: " ₽ ",
						time: "/ смена",
					},
				},
			],
		}

	section.section.rent-card-similar 
		.container
			.rent-card-similar__heading
				h2.title.title--h3.rent-card-similar__title=data.title
				a.link.rent-card-similar__link(href=data.link.href)=data.link.text 
			.swiper.rent-card-similar__list.rent-card-similar__slider
				.swiper-wrapper
					- for (let i = 0; i < 4; i++)
						each item in data.items
							.swiper-slide
								.rent-card-similar__card
									h4.title.rent-card-similar__card-title=item.title
									.rent-card-similar__card-pic
										+picture("content", item.img, "png", item.alt)
									span.rent-card-similar__card-model=item.name
									.rent-card-similar__card-price
										span=item.price.num
										span=item.price.currency
										span.rent-card-similar__card-price-time=item.price.time
								//- button(type="button").btn.btn--drk-orange.rent-technic__catalog-item-add
								//- 	+icon("icon-plus", 23, 23)
				.rent-card-similar__slider-nav
					.swiper-pagination.rent-card-similar__slider-pag
					.rent-card-similar__slider-btns
						.swiper-button-next.rent-card-similar__slider-btn.rent-card-similar__slider-btn--next
							+icon("icon-chevron-right-black", 30, 30)
						.swiper-button-prev.rent-card-similar__slider-btn.rent-card-similar__slider-btn--prev
							+icon("icon-chevron-left-black", 30, 30)