mixin technic-and-methods()
	-
		const data = {
			title: "Техника и методы",
			subtitle: "Как и чем мы работаем",
			text: "Работы ведем комплексно — подготовка документации на демонтаж, ликвидация сооружения, переработка материалов сноса, зачистка территории и ее благоустройство, сдача площадки клиенту.",
			title2: "Быстрым работам способствует парк собственной техники. В ее составе:",
			items: [
				{
					title: "Экскаваторы",
					num: "01",
					text: "погрузчики; гусеничные с навесными гидравлическими ножницами;",
				},
				{
					title: "Самосвалы",
					num: "02",
					text: "Они могут за рабочий день вывезти более 1 000 м3 обломков, щебня или мусора.",
				},
				{
					title: "Дробилки",
					num: "03",
					text: "Они быстро переработают и расклассифицируют весь кирпичный и бетонный бой.",
				},
			],
			link: {
				icon1: "icon-excavator",
				icon2: "icon-arrow-right-50x25",
				href: "#",
				text: "Вся техника",
			} 
		}
	section.section.technic-and-methods
		.container.technic-and-methods__container 
			.technic-and-methods__heading
				h2.title.title--h2.technic-and-methods__title=data.title
				h3.title.title--h3.technic-and-methods__subtitle=data.subtitle
			p.text.technic-and-methods__text=data.text
			.technic-and-methods__items-title=data.title2
			.technic-and-methods__row
				.technic-and-methods__items
					each item in data.items
						.technic-and-methods__item
							h2.title.title--h2.technic-and-methods__item-title=item.title
							span.technic-and-methods__item-num=item.num
							p.text.text--sm.technic-and-methods__item-text=item.text
				a.technic-and-methods__all-link(href=data.link.href)
					.technic-and-methods__all-link-row
						+icon(data.link.icon1, 56, 56)
						+icon(data.link.icon2, 50, 25)
					span=data.link.text
