mixin tech(mods)
	-
		const data = {
				title: "Технологии",
			demolition: {
				subtitle: "Уникальный разрушитель со стрелой 40 метров",
				items: [
					{					
						src: "slides",
						img: "tech-img-1",
						alt: "экскаватор-разрушитель",
						title: "В чем преимущества данной технологии ?",
						text: "Единственная в России модель экскаватора с телескопической стрелой длиной 40 метров, созданная по эксклюзивному проекту группы компаний КСД совместно с британскими и японскими специалистами",
						die: "CASE CX490LC",
					},
					{	
						src: "slides",
						img: "tech-img-1",
						alt: "экскаватор-разрушитель",
						title: "В чем преимущества данной технологии ?",		
						text: "Единственная в России модель экскаватора с телескопической стрелой длиной 40 метров, созданная по эксклюзивному проекту группы компаний КСД совместно с британскими и японскими специалистами",
						die: "CASE CX490LC",
					},
					{				
						src: "slides",
						img: "tech-img-1",
						alt: "экскаватор-разрушитель",
						title: "В чем преимущества данной технологии ?",
						text: "Единственная в России модель экскаватора с телескопической стрелой длиной 40 метров, созданная по эксклюзивному проекту группы компаний КСД совместно с британскими и японскими специалистами",
						die: "4CX ECO",
					},
					{	
						src: "slides",
						img: "tech-img-1",
						alt: "экскаватор-разрушитель",
						title: "В чем преимущества данной технологии ?",
						text: "Единственная в России модель экскаватора с телескопической стрелой длиной 40 метров, созданная по эксклюзивному проекту группы компаний КСД совместно с британскими и японскими специалистами",
						die: "JSC 305",
					},
					{	
						src: "slides",
						img: "tech-img-1",
						alt: "экскаватор-разрушитель",
						title: "В чем преимущества данной технологии ?",
						text: "Единственная в России модель экскаватора с телескопической стрелой длиной 40 метров, созданная по эксклюзивному проекту группы компаний КСД совместно с британскими и японскими специалистами",
						die: "JSC 305",
					},
				],
				title2: "Senectus quam venen bibend euisod enim.",
				text2: "Elit venenatis sociis aliquet nam diam massa lacus. Magna commodo id lectus fringilla id gravida. Amet facilisi augue. ",
			},
			road: {
				subtitle: "Строительство дорог",
				items: [
					{					
						src: "slides",
						img: "tech-img-1",
						alt: "экскаватор-разрушитель",
						title: "В чем преимущества данной технологии ?",
						text: "Дороги — это артерии государства. Да, они часто обходятся очень дорого. Но есть возможность делать их значительно дешевле, если использовать для их укладки вторичные материалы, полученные при переработке строительных отходов.",
					},
					{					
						src: "slides",
						img: "tech-img-1",
						alt: "экскаватор-разрушитель",
						title: "В чем преимущества данной технологии ?",
						text: "Дороги — это артерии государства. Да, они часто обходятся очень дорого. Но есть возможность делать их значительно дешевле, если использовать для их укладки вторичные материалы, полученные при переработке строительных отходов.",
					},
					{					
						src: "slides",
						img: "tech-img-1",
						alt: "экскаватор-разрушитель",
						title: "В чем преимущества данной технологии ?",
						text: "Дороги — это артерии государства. Да, они часто обходятся очень дорого. Но есть возможность делать их значительно дешевле, если использовать для их укладки вторичные материалы, полученные при переработке строительных отходов.",
					},
					{					
						src: "slides",
						img: "tech-img-1",
						alt: "экскаватор-разрушитель",
						title: "В чем преимущества данной технологии ?",
						text: "Дороги — это артерии государства. Да, они часто обходятся очень дорого. Но есть возможность делать их значительно дешевле, если использовать для их укладки вторичные материалы, полученные при переработке строительных отходов.",
					},
					{					
						src: "slides",
						img: "tech-img-1",
						alt: "экскаватор-разрушитель",
						title: "В чем преимущества данной технологии ?",
						text: "Дороги — это артерии государства. Да, они часто обходятся очень дорого. Но есть возможность делать их значительно дешевле, если использовать для их укладки вторичные материалы, полученные при переработке строительных отходов.",
					},
				],
				title2: "Строительство проселочных дорог",
				text2: "Строительство дороги, как всякая серьезная деятельность, имеет несколько разделенных во времени этапов.",
			},
			pits: {
				subtitle: "Проведение земляных работ",
				items: [
					{					
						src: "slides",
						img: "tech-pits-img-1",
						alt: "экскаватор-разрушитель",
						title: "Котлован «под ключ»",
						text: "Мы контролируем проект на всех этапах — от проектирования и подготовки территории до земляных работ и утилизации грунта.",
					},
					{					
						src: "slides",
						img: "tech-img-1",
						alt: "экскаватор-разрушитель",
						title: "Подбор метода по проект клиента",
						text: "Разработка котлованов разными методами: стена в грунте, устройство ограждений из буровых свай, шпунтовое ограждение котлованов, устройство грунтовых анкеров.",
					},
					{					
						src: "slides",
						img: "tech-img-1",
						alt: "экскаватор-разрушитель",
						title: "Современная техника",
						text: "Для быстрого и качественного проведения работ.",
					},
				],
				title2: "Разработка котлованов — для нас не детская забава",
				text2: "Строительство котлована, как всякая серьезная деятельность, имеет несколько разделенных во времени этапов.",
			},

		}
	section.section.tech(class="tech--" + mods)
		.container.tech__container
			.tech__heading
				h2.title.title--h2=data.title
				if mods === "demolition"
					h3.title.title--h3=data.demolition.subtitle
				else if mods === "road"
					h3.title.title--h3=data.road.subtitle
				else if mods === "pits"
					h3.title.title--h3=data.pits.subtitle
			.swiper.swiper--05.tech__slider
				.swiper-wrapper
					if mods === "demolition"
						each item in data.demolition.items
							.swiper-slide
								.tech__cols 
									.tech__col.tech__col--01
										.tech__slider-item
											+img(item.src, item.img, "jpg", item.alt)
										.tech__slider-die 
											+icon("icon-excavator", 38, 38).tech__slider-die-icon
											span.tech__slider-die-name=item.die
									.tech__col.tech__col--02
										h4.title.title--h4.tech__content-title=item.title
										p.text.text--lg.tech__text=item.text
					else if mods === "road"
						each item in data.road.items
							.swiper-slide
								.tech__cols 
									.tech__col.tech__col--01
										.tech__slider-item
											+img(item.src, item.img, "jpg", item.alt)
									.tech__col.tech__col--02
										h4.title.title--h4.tech__content-title=item.title
										p.text.text--lg.tech__text=item.text
					else if mods === "pits"
						each item in data.pits.items
							.swiper-slide
								.tech__cols 
									.tech__col.tech__col--01
										.tech__slider-item
											+img(item.src, item.img, "jpg", item.alt)
									.tech__col.tech__col--02
										h4.title.title--h4.tech__content-title=item.title
										p.text.text--lg.tech__text=item.text
				.tech__slider-nav
					.swiper-pagination.tech__slider-pag
					.tech__slider-btns
						.swiper-button-next.tech__slider-btn.tech__slider-btn--next
							+icon("icon-chevron-right-black", 30, 30)
						.swiper-button-prev.tech__slider-btn.tech__slider-btn--prev
							+icon("icon-chevron-left-black", 30, 30)
		.tech__bottom 
			.container.tech__container.tech__container--bottom
				.tech__bottom-cols
					.tech__bottom-col.tech__bottom-col--01
						if mods === "demolition"
							h3.title.title--h3.tech__bottom-title=data.demolition.title2 
							p.text.text--lg.tech__bottom-text=data.demolition.text2
						else if mods === "road"
							h3.title.title--h3.tech__bottom-title=data.road.title2 
							p.text.text--lg.tech__bottom-text=data.road.text2
						else if mods === "pits"
							h3.title.title--h3.tech__bottom-title=data.pits.title2 
							p.text.text--lg.tech__bottom-text=data.pits.text2
					.tech__bottom-col.tech__bottom-col--02
						.tech__bottom-video(data-video-block)
							if mods === "demolition"
								button(type="button" data-video-btn).btn.btn--orange.tech__bottom-video-btn
									+icon("icon-play", 14, 14)
							else if mods === "pits" || mods === "road"
								button(type="button" data-video-btn).btn.btn--cobalt.tech__bottom-video-btn
									+icon("icon-play", 14, 14)
							video(src="https://cdn.videvo.net/videvo_files/video/premium/video0237/large_watermarked/02_day_Stockholm_99_rotate_sun_crane_preview.mp4", type="video/mp4", controls muted preload="none" poster="./img/content/tech-video-poster.jpg")