mixin topical()
	-
		const data = {
			title: "Актуальных закупок ",
			quantity: "58",
			acc: {
				btn: {
					text: "Гидравлические ножницы Epiroc CC 3100 U",
					more: "Подробнее",
				},
				content: {
					title: "Свяжитесь с нами и пришлите ваше КП",
					form: {
						name: {
							inputPlaceholder: "ФИО...",
							inputError: "Не может быть пустым!",
							inputId: "full-name",
							inputName: "full-name",
							inputMinLength: 2,
							inputMaxLength: 30,
						},
						company: {
							inputPlaceholder: "Компания...",
							inputError: "Не может быть пустым!",
							inputId: "company-name",
							inputName: "company-name",
							inputMinLength: 2,
							inputMaxLength: 20,
						},
						tel: {
							inputPlaceholder: "Телефон...",
							inputError: "Введите номер телефона",
							inputId: "topical-phone",
							inputName: "topical-phone",
						},
						email: {
							inputPlaceholder: "E-mail...",
							inputError: "Введите корректный email",
							inputId: "email",
							inputName: "email",
						},
						dad: {
							title: "Перетащите файл сюда",
							or: "или",
							upload: "Прикрепить файл",
							type: "Поддерживаемые форматы документа: Word, Excel, PDF",
						},
						agree: "Оставляя свои контактные данные вы даете свое ",
						linkAgree: {
							href: "#",
							text: "согласие на обработку",
						},
						agree2: " персональных данных",
						btn: {
							type: "submit",
							text: "Отправить",
						},
					},

				}
			}
		}
	section.section.topical
		.container.topical__container
			h2.title.title--h4.topical__title=data.title
				span.topical__quantity
					span (
					span=data.quantity 
					span )
			.topical__acc(data-accordion="parent" data-single)
				.topical__acc-el(data-accordion="element").is-active
					.topical__acc-btn(data-accordion="button")
						span.topical__acc-btn-text=data.acc.btn.text
						span.topical__acc-btn-more
							span.topical__acc-btn-more-text=data.acc.btn.more
							+icon("icon-chevron-down", 12, 8).topical__acc-btn-icon
					.topical__acc-content(data-accordion="content")
						h2.title.title--h5.topical__acc-content-title=data.acc.content.title
						.topical__form(data-validate data-callback="topicalForm")
							form(action="#" enctype="multipart/form-data") 
								.topical__acc-content-row.topical__acc-content-row--01
									.topical__acc-content-col.topical__acc-content-col--01
										+custom-input(data.acc.content.form.name).topical__form-field.topical__form-field--01(data-validate-type="text")
										+custom-input(data.acc.content.form.company).topical__form-field.topical__form-field--02(data-validate-type="text")
										+custom-input(data.acc.content.form.tel).topical__form-field.topical__form-field--03(data-validate-type="phone")
										+custom-input(data.acc.content.form.email).topical__form-field.topical__form-field--04(data-validate-type="email")
									.topical__acc-content-col.topical__acc-content-col--02
										.topical__form-dad
											+icon("icon-upload", 60, 60).topical__form-dad-icon
											h3.title.title--h6.topical__form-dad-title=data.acc.content.form.dad.title
											.topical__form-dad-or
												hr
												span=data.acc.content.form.dad.or
												hr
											.custom-input.topical__form-dad-input(data-validate-type="text")
												label
													span.btn.btn--stroke-drk-orange.topical__form-dad-label=data.acc.content.form.dad.upload
													input.topical__form-dad-input#topical-file(type="file", name="topical-file")
											span.topical__form-dad-type=data.acc.content.form.dad.type
								.topical__acc-content-row.topical__acc-content-row--02
									.topical__acc-content-col.topical__acc-content-col--01
										.topical__agreement
											span=data.acc.content.form.agree 
											a.link.topical__agreement-link(href=data.acc.content.form.linkAgree.href)=data.acc.content.form.linkAgree.text 
											span=data.acc.content.form.agree2
									.topical__acc-content-col.topical__acc-content-col--02
										+btn(data.acc.content.form.btn).btn--cobalt.topical__form-submit
				- for(let i = 0; i < 9; i++)
					.topical__acc-el(data-accordion="element")
						.topical__acc-btn(data-accordion="button")
							span.topical__acc-btn-text=data.acc.btn.text
							span.topical__acc-btn-more
								span.topical__acc-btn-more-text=data.acc.btn.more
								+icon("icon-chevron-down", 12, 8).topical__acc-btn-icon
						.topical__acc-content(data-accordion="content")
							h2.title.title--h5.topical__acc-content-title=data.acc.content.title
							.topical__form(data-validate data-callback="topicalForm")
								form(action="#" enctype="multipart/form-data") 
									.topical__acc-content-row.topical__acc-content-row--01
										.topical__acc-content-col.topical__acc-content-col--01
											+custom-input(data.acc.content.form.name).topical__form-field.topical__form-field--01(data-validate-type="text")
											+custom-input(data.acc.content.form.company).topical__form-field.topical__form-field--02(data-validate-type="text")
											+custom-input(data.acc.content.form.tel).topical__form-field.topical__form-field--03(data-validate-type="phone")
											+custom-input(data.acc.content.form.email).topical__form-field.topical__form-field--04(data-validate-type="email")
										.topical__acc-content-col.topical__acc-content-col--02
											.topical__form-dad
												+icon("icon-upload", 60, 60).topical__form-dad-icon
												h3.title.title--h6.topical__form-dad-title=data.acc.content.form.dad.title
												.topical__form-dad-or
													hr
													span=data.acc.content.form.dad.or
													hr
												.custom-input.topical__form-dad-input(data-validate-type="text")
													label
														span.btn.btn--stroke-drk-orange.topical__form-dad-label=data.acc.content.form.dad.upload
														input.topical__form-dad-input#topical-file(type="file", name="topical-file")
												span.topical__form-dad-type=data.acc.content.form.dad.type
									.topical__acc-content-row.topical__acc-content-row--02
										.topical__acc-content-col.topical__acc-content-col--01
											.topical__agreement
												span=data.acc.content.form.agree 
												a.link.topical__agreement-link(href=data.acc.content.form.linkAgree.href)=data.acc.content.form.linkAgree.text 
												span=data.acc.content.form.agree2
										.topical__acc-content-col.topical__acc-content-col--02
											+btn(data.acc.content.form.btn).btn--cobalt.topical__form-submit




