mixin vacancy()
	-
		const data = {
			title: "Вакансия",
			subtitle: "Машинист экскаватора Kocurek KUHR-45-34",
			headText: "Mollis dolor, aenean at amet ac quis diam. Facilisis porttitor eros, nulla lorem odio lobortis duis massa sed. Sagittis, tempus lectus aenean mi ac amet pretium.",
			headSubtext: "Fames ipsum congue et tristique lorem phasellus volutpat, vitae, venenatis. Turpis imperdiet amet etiam lorem sed. Placerat fusce arcu varius non nunc. Egestas vivamus est senectus.",
			lists: [
				{
					descModifier: "vacancy__desc--response",
					title: "Обязанности:",
					listModifier: "vacancy__desc-list--response",
					items: [
						"Управление экскаватором",
						"Контроль за техническим состоянием ТС",
					],
				},
				{
					descModifier: "vacancy__desc--requirements",
					title: "Требования:",
					listModifier: "vacancy__desc-list--requirements",
					items: [
						"Наличие удостоверения об обучении на машиниста экскаватора, УТМ",
						"Опыт демонтажа высотных объектов от 5 лет",
						"Умение управлять гидромолотом",
					],
				},
				{
					descModifier: "vacancy__desc--terms",
					title: "Условия:",
					listModifier: "vacancy__desc-list--terms",
					items: [
						"Вахта 90/30",
						"Работа на объекте сноса КСД",
						"Официальное трудоустройство, выплата заработной платы без задержек",
						"Оплата проезда, предоставление проживания, спецодежды",
					],
				},
				{
					descModifier: "vacancy__desc--skills",
					title: "Навыки:",
					listModifier: "vacancy__desc-list--skills",
					items: [
						"категории В",
						"категории C",
						"управление гидромолотом",
					],
				},
			],
			form: {
				title: "Откликнитесь на вакансию",
				name: {
					inputPlaceholder: "Имя",
					inputError: "Не менее 2-х знаков!",
					inputId: "first-name",
					inputName: "first-name",
					inputMinLength: 2,
				},
				surname: {
					inputPlaceholder: "Фамилия",
					inputId: "first-name",
					inputName: "first-name",
				},
				phone: {
					inputType: "tel",
					inputPlaceholder: "Телефон",
					inputError: "Пожалуйста введите номер телефона",
					inputId: "phone-number",
					inputName: "phone-number",
				},
				email: {
					inputType: "email",
					inputPlaceholder: "Эл. почта",
					inputError: "Пожалуйста введите корректный email",
					inputId: "email",
					inputName: "email",
				},
				message: {
					inputPlaceholder: "Сообщение",
					inputId: "message",
					inputName: "message",

				},
				upload: {
					icon: "icon-clip",
					text: "Прикрепить резюме",
					del: "⮿"
				},
				btn: {
					type: "submit",
					text: "Откликнуться",
				},
				agree: {
					href: "#",
					textBefore: "Оставляя свои контактные данные вы даете свое ",
					textLink: "согласие на обработку ",
					textAfter: "персональных данных",

				}
			},
			die: {
				payment: {
					value: "400 ",
					currency: "₽",
					time: "час",
				},
				expText: "Требуемый опыт: ",
				expValue: "3–6 лет",
				emplText: "Тип занятости: ",
				emplValue: "Полный",
				btn: {
					href: "#",
					text: "Откликнуться",
				},
			},
		}
	section.section.vacancy
		.container.vacancy__container 
			h1.title.title--h2.vacancy__title=data.title
			h2.title.title--h3.vacancy__subtitle=data.subtitle
			.vacancy__die-experience.vacancy__die-experience--mobile
				span.vacancy__die-experience-text=data.die.expText
				span.vacancy__die-experience-value=data.die.expValue
			.vacancy__die-employment.vacancy__die-employment--mobile
				span.vacancy__die-employment-text=data.die.emplText
				span.vacancy__die-employment-value=data.die.emplValue
			.vacancy__cols
				.vacancy__col.vacancy__col--01
					p.text.vacancy__head-text=data.headText
					p.text.vacancy__head-subtext=data.headSubtext
					each list in data.lists
						.vacancy__desc(class=list.descModifier)
							h2.title.title--h5.vacancy__desc-title=list.title
							ul.vacancy__desc-list(class=list.listModifier)
								each item in list.items
									li.vacancy__desc-list-item=item
				.vacancy__col.vacancy__col--02
					.vacancy__die
						.vacancy__die-payment 
							span.vacancy__die-payment-value=data.die.payment.value
							span.vacancy__die-payment-currency=data.die.payment.currency
							span.vacancy__die-payment-time &nbsp;/&nbsp;
							span.vacancy__die-payment-time=data.die.payment.time
						.vacancy__die-experience
							span.vacancy__die-experience-text=data.die.expText
							span.vacancy__die-experience-value=data.die.expValue
						.vacancy__die-employment
							span.vacancy__die-employment-text=data.die.emplText
							span.vacancy__die-employment-value=data.die.emplValue
						p.text.vacancy__die-text
						+btn(data.die.btn)(data-target="vacancy-form").btn--orange.vacancy__die-btn
					.vacancy__die-plug
			.vacancy__form#vacancy-form(data-validate data-callback="vacancyForm")
				form.vacancy__form-form(action="#", method="post")
					h2.title.title--h3.vacancy__form-title=data.form.title
					.vacancy__form-row
						+custom-input(data.form.name)(data-validate-type="text").vacancy__form-field.vacancy__form-field--name
						+custom-input(data.form.surname).vacancy__form-field.vacancy__form-field--surname
					.vacancy__form-row
						+custom-input(data.form.phone)(data-validate-type="phone").vacancy__form-field.vacancy__form-field--phone
						+custom-input(data.form.email)(data-validate-type="email").vacancy__form-field.vacancy__form-field--email
					+custom-textarea(data.form.message).vacancy__form-field.vacancy__form-field--message
					.custom-input.vacancy__form-field.vacancy__form-field--file(data-validate-type='text')
						label
							input.input-type-file#input-type-file(type='file' name='cv-upload')
							+icon(data.form.upload.icon, 24, 24)
							span.input-type-file-download=data.form.upload.text
						button.btn.btn--reset.vacancy__form-btn-del.is-hidden(type='button')=data.form.upload.del
					+btn(data.form.btn).btn--drk-orange.vacancy__form-submit
				.vacancy__form-agree
					span.vacancy__form-agree-text=data.form.agree.textBefore
					a.link.vacancy__form-agree-link(href=data.form.agree.href)=data.form.agree.textLink
					span.vacancy__form-agree-text=data.form.agree.textAfter
		.vacancy__response
			.vacancy__response-payment 
				span.vacancy__response-payment-value=data.die.payment.value
				span.vacancy__response-payment-currency=data.die.payment.currency
				span.vacancy__response-payment-time &nbsp;/&nbsp;
				span.vacancy__response-payment-time=data.die.payment.time
			+btn(data.die.btn)(data-open-modal="vacancy-form").btn--drk-orange.vacancy__response-btn


