mixin work-with-us()
	-
		const data = {
			title: "Работа с нами",
			subtitle: "Пробный текст",
			headText: "Мы – быстроразвивающаяся компания целеустремленных, амбициозных, профессиональных строителей и демонтажников.",
			text1: "У нас значимые цели – благоустройство городов и поселков, повышение комфорта жизни людей, экономия в расходовании ресурсов природы, защита и очистка окружающей среды.",
			text2: "В работе постоянно изучаем и используем передовой опыт наших коллег по профессии как российских, так и зарубежных.",
			title2: "Быть нашим сотрудником – это значит:",
			items: [
				{
					icon: "icon-check",
					title: "Иметь комфортную работу",
					text: "Sed tellus dictum egestas vulputate aliquam libero pellentesque. Ut sit enim ac dignissim.",
				},
				{
					icon: "icon-check",
					title: "Развивать карьеру строителя",
					text: "Nulla congue sed fames aliquam. Mi nulla dui morbi faucibus vulputate egestas. Posuere.",
				},
				{
					icon: "icon-check",
					title: "Иметь достойную заработную плату",
					text: "Lacinia nibh pretium sit ornare nisl magnis sed. Sed felis euismod senectus ultrices auctor velit.",
				},
				{
					icon: "icon-check",
					title: "Повышать квалификацию",
					text: "Eu felis, et vel nulla dignissim sodales posuere potenti. Sit ornare ac sed erat scelerisque.",
				},
				{
					icon: "icon-check",
					title: "Быть ответственным",
					text: "Urna, vivamus purus, justo, rhoncus. Et, justo habitant volutpat dui nibh. Non in adipiscing.",
				},
				{
					icon: "icon-check",
					title: "Иметь интересные командировки",
					text: "Ullamcorper id sed nullam senectus eu, felis, lectus sit. Mattis rutrum urna, rhoncus non.",
				},
			],
			questionnaire: {
				title: "Найдите подходящую вакансию, просто заполните анкету",
				btn: {
					href: "#",
					text: "Заполните анкету",
				},
				sheet: "A4",
			}
		}
	section.section.work-with-us
		.container.work-with-us__container 
			.work-with-us__heading
				h2.title.title--h2.work-with-us__title=data.title
				h3.title.title--h3.work-with-us__subtitle=data.subtitle
			p.text.work-with-us__text-head=data.headText
			p.text.work-with-us__text=data.text1
			p.text.work-with-us__text=data.text2
			.work-with-us__items-title=data.title2
			.swiper.work-with-us__items
				.swiper-wrapper
					each item in data.items
						.swiper-slide
							.work-with-us__item
								.work-with-us__item-row
									+icon(item.icon, 26, 26).work-with-us__item-icon=item.num
									h2.title.title--h2.work-with-us__item-title=item.title
								p.text.text--sm.work-with-us__item-text=item.text
				.work-with-us__items-pag
			.work-with-us__questionnaire
				h4.title.title--h4.work-with-us__questionnaire-title=data.questionnaire.title 
				+btn(data.questionnaire.btn).work-with-us__questionnaire-btn
				.work-with-us__questionnaire-sheet 
					span=data.questionnaire.sheet


