mixin custom-select(options = {})
  - const selectLabel = options.label ? options.label : false
  - const selectError = options.error ? options.error : false
  - const selectName = options.name ? options.name : false
  - const selectPlaceholder = options.placeholder ? options.placeholder : false
  - const buttonAriaLabel = options.buttonAriaLabel ? options.buttonAriaLabel : "Выберите одну из опций"
  -const simpleBar = options.simplebar ? options.simplebar : false

  .custom-select&attributes(attributes)
    if selectLabel
      span.custom-select__label=selectLabel
    if selectError
      span.custom-select__error=selectError
    if selectPlaceholder
      span.custom-select__placeholder=selectPlaceholder
    button.custom-select__button(type="button", aria-label=buttonAriaLabel)
      span.custom-select__text
      span.custom-select__icon
    if simpleBar
      ul.custom-select__list(role="listbox" data-simplebar=simpleBar data-name=selectName)
        each item in options.optionsList
          - const ariaSelected = item.isActive ? "true" : "false"
          li.custom-select__item(class=itemClass, tabindex="0", data-select-value=item.value, aria-selected=ariaSelected, role="option")=item.text
    else
      ul.custom-select__list(role="listbox" data-name=selectName)
        each item in options.optionsList
          - const ariaSelected = item.isActive ? "true" : "false"
          li.custom-select__item(class=itemClass, tabindex="0", data-select-value=item.value, aria-selected=ariaSelected, role="option")=item.text
