mixin modal-vacancy-form()
	-
		const data = {
			form: {
				title: "Откликнитесь на вакансию",
				name: {
					inputPlaceholder: "Имя",
					inputError: "Не менее 2-х знаков!",
					inputId: "first-name",
					inputName: "first-name",
					inputMinLength: 2,
				},
				surname: {
					inputPlaceholder: "Фамилия",
					inputId: "first-name",
					inputName: "first-name",
				},
				phone: {
					inputType: "tel",
					inputPlaceholder: "Телефон",
					inputError: "Пожалуйста введите номер телефона",
					inputId: "phone-number",
					inputName: "phone-number",
				},
				email: {
					inputType: "email",
					inputPlaceholder: "Эл. почта",
					inputError: "Пожалуйста введите корректный email",
					inputId: "email",
					inputName: "email",
				},
				message: {
					inputPlaceholder: "Сообщение",
					inputId: "message",
					inputName: "message",

				},
				upload: {
					icon: "icon-clip",
					text: "Прикрепить резюме",
					del: "⮿"
				},
				btn: {
					type: "submit",
					text: "Откликнуться",
				},
				agree: {
					href: "#",
					textBefore: "Оставляя свои контактные данные вы даете свое ",
					textLink: "согласие на обработку ",
					textAfter: "персональных данных",

				}
			},
		}
	.modal-vacancy-form
		.modal-vacancy__form#modal-vacancy-form(data-validate data-callback="vacancyForm")
			form.vacancy__form-form(action="#" method="post")
				h2.title.title--h3.vacancy__form-title=data.form.title
				+custom-input(data.form.name)(data-validate-type="text").vacancy__form-field.vacancy__form-field--name
				+custom-input(data.form.surname).vacancy__form-field.vacancy__form-field--surname
				+custom-input(data.form.phone)(data-validate-type="phone").vacancy__form-field.vacancy__form-field--phone
				+custom-input(data.form.email)(data-validate-type="email").vacancy__form-field.vacancy__form-field--email
				+custom-textarea(data.form.message).vacancy__form-field.vacancy__form-field--message
				.custom-input.vacancy__form-field.vacancy__form-field--file(data-validate-type='text')
					label
						input.input-type-file#input-type-file(type='file' name='cv-upload')
						+icon(data.form.upload.icon, 24, 24)
						span.input-type-file-download=data.form.upload.text
					button.btn.btn--reset.vacancy__form-btn-del.is-hidden(type='button')=data.form.upload.del
				+btn(data.form.btn).btn--drk-orange.vacancy__form-submit
			.vacancy__form-agree
				span.vacancy__form-agree-text=data.form.agree.textBefore
				a.link.vacancy__form-agree-link(href=data.form.agree.href)=data.form.agree.textLink
				span.vacancy__form-agree-text=data.form.agree.textAfter
