mixin vehicle-card-tabs-el(mods)
	-
		const data = {
			tabsContent1: {
				view: "360 <sup>°</sup>",
				height: "3,72 м",
				width: "7,28 м",
				acs: {
					name: "Epiroc CC 1600 U",
					desc: "Гидравлические ножницы по бетону"
				},
				list1: [
					{
						prop: "Эксплутационная масса, кг",
						value: "8030",
					},
					{
						prop: "Двигатель",
						value: "Perkins 1104C",
					},
					{
						prop: "Мощность двигателя, кВт",
						value: "68,5",
					},
					{
						prop: "Скорость передвижения, км/ч",
						value: "40",
					},
					{
						prop: "Габаритные размеры, мм",
						value: "7280/340/3720",
					},
				],
				title: "Параметры навесного оборудования:",
				list2: [
					{
						prop: "Класс утяжелителя, t",
						value: "13 - 23",
					},
					{
						prop: "Цикл открытия, sec",
						value: "1,3",
					},
					{
						prop: "Завершающий цикл, sec",
						value: "1,3",
					},
					{
						prop: "Поток масла, l/min",
						value: "150 - 250",
					},
					{
						prop: "Рабочее давление, bar",
						value: "350",
					},
				],
			},
			tabsContent2: {
				slides: [
					{
						img: "vehicle-card-slide-img-1",
						alt: "vehicle-card-slide-img-1",
					},
					{
						img: "vehicle-card-slide-img-2",
						alt: "vehicle-card-slide-img-2",
					},
					{
						img: "vehicle-card-slide-img-3",
						alt: "vehicle-card-slide-img-3",
					},
					{
						img: "vehicle-card-slide-img-4",
						alt: "vehicle-card-slide-img-4",
					},
				],
				title1: "Экскаватор JS 305",
				text1: "Gravida ut vel, convallis massa sed vel. In interdum eget enim at vitae ultrices massa adipiscing. Sit eget a id facilisis ullamcorper ultrices consequat nibh. Nulla mollis mi semper congue. Non lectus ut magna laoreet in ornare. Id lorem dolor nec.",
				text2: "Gravida ut vel, convallis massa sed vel. In interdum eget enim at vitae ultrices massa adipiscing.",
				title2: "Epiroc CC 1600 U",
				text3: "Gravida ut vel, convallis massa sed vel. In interdum eget enim at vitae ultrices massa adipiscing. Sit eget a id facilisis ullamcorper ultrices consequat nibh. Nulla mollis mi semper congue. "
			},
		}
	.vehicle-card__tabs-el(data-tabs="element" class="vehicle-card__tabs-el--" + mods)
		.vehicle-card__cols
			.vehicle-card__col.vehicle-card__col--01
				if mods === "01"
					.vehicle-card__pic-wrap
						span.vehicle-card__pic-name=data.model
						.vehicle-card__pic
							.vehicle-card__view
								+icon("icon-360-view", 26, 26).vehicle-card__view-icon
								span.vehicle-card__view-text!=data.tabsContent1.view
							+picture("content", "vehicle-card-img-1", "png", "Экскаватор")
						.vehicle-card__height
							hr
							span.vehicle-card__height-value=data.tabsContent1.height
							hr
					.vehicle-card__width
						hr
						span.vehicle-card__width-value=data.tabsContent1.width
						hr
					.vehicle-card__acs
						+picture("content", "card-toggle-img-2", "png", "Гидравлический молот")
						.vehicle-card__acs-wrap
							.vehicle-card__acs-name=data.tabsContent1.acs.name
							.vehicle-card__acs-desc=data.tabsContent1.acs.desc
				if mods === "02"
					.swiper.vehicle-card__slider
						.swiper-wrapper 
							each item in data.tabsContent2.slides
								.swiper-slide 
									.vehicle-card__slider-item 
										+img("slides", item.img, "jpg", item.alt)
						.vehicle-card__slider-nav
							.swiper-button-prev.vehicle-card__slider-btn.vehicle-card__slider-btn--prev
							.swiper-button-next.vehicle-card__slider-btn.vehicle-card__slider-btn--next
					.swiper.vehicle-card__slider-thumbs
						.swiper-wrapper 
							each item in data.tabsContent2.slides
								.swiper-slide 
									.vehicle-card__slider-item 
										+img("slides", item.img, "jpg", item.alt)
			.vehicle-card__col.vehicle-card__col--02
				if mods === "01"
					ul.vehicle-card__list.vehicle-card__list--characts 
						each item in data.tabsContent1.list1 
							li.vehicle-card__list-item 
								span=item.prop
								span=item.value
					h2.title.title--h6.vehicle-card__params-title=data.tabsContent1.title
					ul.vehicle-card__list.vehicle-card__list--params 
						each item in data.tabsContent1.list2 
							li.vehicle-card__list-item 
								span=item.prop
								span=item.value
				if mods === "02"
					h2.title.title--h6.vehicle-card__desc-title=data.tabsContent2.title1
					p.text.text--sm.vehicle-card__desc-text=data.tabsContent2.text1
					p.text.text--sm.vehicle-card__desc-text=data.tabsContent2.text2
					h2.title.title--h6.vehicle-card__desc-title.vehicle-card__desc-title--02=data.tabsContent2.title2
					p.text.text--sm.vehicle-card__desc-text=data.tabsContent2.text3